In [2]:
import sqlite3
import pandas as pd

In [8]:
conn = sqlite3.Connection("database.sqlite")

In [10]:
curr = conn.execute("SELECT * FROM Reviews LIMIT 10;")

In [12]:
curr.fetchall()

[(1,
  'B001E4KFG0',
  'A3SGXH7AUHU8GW',
  'delmartian',
  1,
  1,
  5,
  1303862400,
  'Good Quality Dog Food',
  'I have bought several of the Vitality canned dog food products and have found them all to be of good quality. The product looks more like a stew than a processed meat and it smells better. My Labrador is finicky and she appreciates this product better than  most.'),
 (2,
  'B00813GRG4',
  'A1D87F6ZCVE5NK',
  'dll pa',
  0,
  0,
  1,
  1346976000,
  'Not as Advertised',
  'Product arrived labeled as Jumbo Salted Peanuts...the peanuts were actually small sized unsalted. Not sure if this was an error or if the vendor intended to represent the product as "Jumbo".'),
 (3,
  'B000LQOCH0',
  'ABXLMWJIXXAIN',
  'Natalia Corres "Natalia Corres"',
  1,
  1,
  4,
  1219017600,
  '"Delight" says it all',
  'This is a confection that has been around a few centuries.  It is a light, pillowy citrus gelatin with nuts - in this case Filberts. And it is cut into tiny squares and then liberally coated with powdered sugar.  And it is a tiny mouthful of heaven.  Not too chewy, and very flavorful.  I highly recommend this yummy treat.  If you are familiar with the story of C.S. Lewis\' "The Lion, The Witch, and The Wardrobe" - this is the treat that seduces Edmund into selling out his Brother and Sisters to the Witch.'),
 (4,
  'B000UA0QIQ',
  'A395BORC6FGVXV',
  'Karl',
  3,
  3,
  2,
  1307923200,
  'Cough Medicine',
  'If you are looking for the secret ingredient in Robitussin I believe I have found it.  I got this in addition to the Root Beer Extract I ordered (which was good) and made some cherry soda.  The flavor is very medicinal.'),
 (5,
  'B006K2ZZ7K',
  'A1UQRSCLF8GW1T',
  'Michael D. Bigham "M. Wassir"',
  0,
  0,
  5,
  1350777600,
  'Great taffy',
  'Great taffy at a great price.  There was a wide assortment of yummy taffy.  Delivery was very quick.  If your a taffy lover, this is a deal.'),
 (6,
  'B006K2ZZ7K',
  'ADT0SRK1MGOEU',
  'Twoapennything',
  0,
  0,
  4,
  1342051200,
  'Nice Taffy',
  'I got a wild hair for taffy and ordered this five pound bag. The taffy was all very enjoyable with many flavors: watermelon, root beer, melon, peppermint, grape, etc. My only complaint is there was a bit too much red/black licorice-flavored pieces (just not my particular favorites). Between me, my kids, and my husband, this lasted only two weeks! I would recommend this brand of taffy -- it was a delightful treat.'),
 (7,
  'B006K2ZZ7K',
  'A1SP2KVKFXXRU1',
  'David C. Sullivan',
  0,
  0,
  5,
  1340150400,
  'Great!  Just as good as the expensive brands!',
  "This saltwater taffy had great flavors and was very soft and chewy.  Each candy was individually wrapped well.  None of the candies were stuck together, which did happen in the expensive version, Fralinger's.  Would highly recommend this candy!  I served it at a beach-themed party and everyone loved it!"),
 (8,
  'B006K2ZZ7K',
  'A3JRGQVEQN31IQ',
  'Pamela G. Williams',
  0,
  0,
  5,
  1336003200,
  'Wonderful, tasty taffy',
  'This taffy is so good.  It is very soft and chewy.  The flavors are amazing.  I would definitely recommend you buying it.  Very satisfying!!'),
 (9,
  'B000E7L2R4',
  'A1MZYO9TZK0BBI',
  'R. James',
  1,
  1,
  5,
  1322006400,
  'Yay Barley',
  "Right now I'm mostly just sprouting this so my cats can eat the grass. They love it. I rotate it around with Wheatgrass and Rye too"),
 (10,
  'B00171APVA',
  'A21BT40VZCCYT4',
  'Carol A. Reed',
  0,
  0,
  5,
  1351209600,
  'Healthy Dog Food',
  'This is a very healthy dog food. Good for their digestion. Also good for small puppies. My dog eats her required amount at every feeding.')]

In [14]:
pd.read_sql_query('SELECT * FROM Reviews LIMIT 10;', conn)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
5,6,B006K2ZZ7K,ADT0SRK1MGOEU,Twoapennything,0,0,4,1342051200,Nice Taffy,I got a wild hair for taffy and ordered this f...
6,7,B006K2ZZ7K,A1SP2KVKFXXRU1,David C. Sullivan,0,0,5,1340150400,Great! Just as good as the expensive brands!,This saltwater taffy had great flavors and was...
7,8,B006K2ZZ7K,A3JRGQVEQN31IQ,Pamela G. Williams,0,0,5,1336003200,"Wonderful, tasty taffy",This taffy is so good. It is very soft and ch...
8,9,B000E7L2R4,A1MZYO9TZK0BBI,R. James,1,1,5,1322006400,Yay Barley,Right now I'm mostly just sprouting this so my...
9,10,B00171APVA,A21BT40VZCCYT4,Carol A. Reed,0,0,5,1351209600,Healthy Dog Food,This is a very healthy dog food. Good for thei...

In [16]:
pd.read_sql_query('SELECT COUNT(*) FROM Reviews;', conn)

   COUNT(*)
0    568454

In [22]:
pd.read_sql_query('SELECT UserId, COUNT(Score) FROM Reviews GROUP BY UserId LIMIT 10;', conn)

               UserId  COUNT(Score)
0  #oc-R103C0QSV1DF5E             1
1  #oc-R109MU5OBBZ59U             1
2  #oc-R10LFEMQEW6QGZ             1
3  #oc-R10LT57ZGIB140             1
4  #oc-R10UA029WVWIUI             1
5  #oc-R115TNMSPFT9I7             2
6  #oc-R119LM8D59ZW8Y             1
7  #oc-R11D9D7SHXIJB9             3
8  #oc-R11D9LKDAN5NQJ             1
9  #oc-R11DNU2NBKQ23Z             2

In [24]:
pd.read_sql_query("SELECT UserId, Count (Score) count_score FROM Reviews GROUP BY UserId ORDER BY count_score DESC LIMIT 10;", conn)

           UserId  count_score
0  A3OXHLG6DIBRW8          448
1  A1YUL9PCJR3JTY          421
2   AY12DBB0U420B          389
3  A281NPSIMI1C2R          365
4  A1Z54EM24Y40LL          256
5  A1TMAVN4CEM8U8          204
6  A2MUGFV2TDQ47K          201
7  A3TVZM3ZIXG8YW          199
8  A3PJZ8TU8FDQ1K          178
9   AQQLWCMRNDFGI          176