In [1]:
import scrapy

In [3]:
! scrapy startproject bookstoscrape

New Scrapy project 'bookstoscrape', using template directory '/opt/anaconda3/lib/python3.11/site-packages/scrapy/templates/project', created in:
    /Users/abisheklimbu/Desktop/PYTHON/Python_Data_Science_Github/Web_Crawling_Scrapy/bookstoscrape

You can start your first spider with:
    cd bookstoscrape
    scrapy genspider example example.com

In [5]:
import pandas as pd

In [9]:
path = "./bookstoscrape/all_books.csv"
df = pd.read_csv(path)

In [11]:
df.head()

,url,book_title,price
0,a-light-in-the-attic_1000/index.html,A Light in the Attic,£51.77
1,tipping-the-velvet_999/index.html,Tipping the Velvet,£53.74
2,soumission_998/index.html,Soumission,£50.10
3,sharp-objects_997/index.html,Sharp Objects,£47.82
4,sapiens-a-brief-history-of-humankind_996/index...,Sapiens: A Brief History of Humankind,£54.23